  .p-section {
    height: 100vh;
    padding: 0.75rem;
  }

  .p-section-work {
    height: 100%;
    padding: 0.75rem;
  }

  .p-text-title {
    font-size: 50px;
  }

  .p-text-title-sm {
    font-size: 40px;
  }

  @media only screen and (max-width: 600px) {
    .p-section {
      height: 100vh;
      margin-bottom: 50px;
      margin-top: 100px;
    }

    .p-section-work {
      height: 100%;
      margin-bottom: 50px;
      margin-top: 100px;
    }
  }